@media screen  and (max-width :768px){
    .flex{
        flex-flow: column wrap;
    }
    section{
        padding: 4rem 2rem;
    }
    .flex-29{
        flex: 1 0 100%;
    }
    .flex-48{
        flex: 1 0 100%;
    }    
    .flex-20{
        flex: 1 0 100%;
    } 
    
}